@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Dosis:wght@200;300;400;500;600;700;800&family=Mouse+Memoirs&family=Peralta&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*  SF Pro Display"," SF Pro Icons"," Helvetica Neue"," Helvetica"," Arial",sans-serif */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
end,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    background: #202020;
    user-select: none;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: inherit;
    font-weight: 400;
}

/*  nulls  */



:root {
    --color-green: #BCFE2F;
    --color-blue: #4db5ff;
    --color-orange: #FF7427;
}

/*   Preloaded   */
.preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #202020;
    display: flex;
    animation: Preloader 2s 4.5s forwards;
    z-index: 100;
}

@keyframes Preloader {
    0% {
        filter: blur(0px);
    }

    99% {
        filter: blur(200px);
    }

    99.9999% {
        opacity: 0;
        overflow: hidden;
    }

    100% {
        visibility: hidden;
        display: none;
    }
}

@keyframes svgPreloader {
    0% {
        stroke-dashoffset: 372;
        stroke: var(--color-green);
    }

    20% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    22.5% {
        fill: var(--color-green);
        stroke: var(--color-green);
    }

    27.5% {
        fill: var(--color-orange);
        stroke: var(--color-orange);
    }

    30% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    50% {
        stroke-dashoffset: 372;
        stroke: var(--color-orange);
    }

    50.01% {
        stroke: var(--color-blue);
    }

    70% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    72.5% {
        fill: var(--color-blue);
        stroke: var(--color-blue);
    }

    77.5% {
        fill: var(--color-green);
        stroke: var(--color-green);
    }

    80% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 372;
        stroke: var(--color-green);
    }

}

::-webkit-scrollbar {
    width: 0;
}

.preloader svg {
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
}

.preloader path {
    animation: svgPreloader 6s infinite;
}

/*   Preloaded   */

.container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    overflow: visible;
    z-index: 80;
    position: relative;
    transition: 0.8s;
}


header {
    height: 92px;
    width: 96%;
    position: relative;
    left: 2%;
    top: 20px;
    border-radius: 35px;
    z-index: 81;
}

header nav {
    height: 92px;
    width: 0%;
    border-radius: 35px;
    position: relative;
    background: #20202067;
    backdrop-filter: blur(48px);
    z-index: 99;
    transform: scale(1);
    animation: width 0.6s 6.2s forwards;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes width {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blurElements {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

header .header__block-blur-green {
    height: 92px;
    width: 10%;
    border-radius: 35px;
    z-index: 98;
    left: 20px;
    position: absolute;
    background: var(--color-green);
    transform: scale(0);
    animation: blurElements 0.4s 5.4s forwards;
}

header .header__block-blur-blue {
    height: 80px;
    width: 15%;
    border-radius: 35px;
    z-index: 98;
    right: 20px;
    position: absolute;
    background: var(--color-blue);
    transform: scale(0);
    animation: blurElements 0.4s 5.6s forwards;
}

header .header__block-blur-orange {
    height: 52px;
    width: 20%;
    border-radius: 35px;
    z-index: 98;
    left: 30%;
    position: absolute;
    background: var(--color-orange);
    transform: scale(0);
    animation: blurElements 0.4s 5.8s forwards;
}

@keyframes logo {
    0% {
        font-size: 0px;
    }

    50% {
        box-shadow: 0px 0px 0px 0px #fff;
        font-size: 36px;
    }

    100% {
        box-shadow: 0px 0px 0px 2px #fff;
        font-size: 36px;
    }
}


.header__logo {
    height: 100%;
    width: 92px;
    display: flex;
    margin-left: 10px;
    transition: 0.4s;
    cursor: default;
}

.header__logo:hover span {
    transition: 0.4s;
    box-shadow: 0px 0px 0px 2px var(--color-green);
}

.header__logo span {
    margin: auto;
    box-shadow: 0px 0px 0px 0px #fff;
    flex: 0 1 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    border-radius: 5px;
    color: #fff;
    animation: logo 0.6s 6.8s forwards;
    font-family: "Peralta";
    transition: 0.4s;
}


.header__menu {
    height: 100%;
    flex: 0 40%;
    max-width: 400px;
    margin-right: 32px;
    margin-left: 50px;
}

.header__menu ul {
    height: 100%;
    display: flex;
    color: #F5F5F7;
    width: 100%;
    letter-spacing: 0.5px;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins";
    font-size: 18px;
}

.header__menu ul li:first-child {
    animation: itemMenu 0.4s 7.2s forwards;
}

.header__menu ul li {
    position: relative;
    top: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    font-weight: 200;
    align-items: center;
    transform: scale(0);
    animation: itemMenu 0.4s 7.4s forwards;
    cursor: default;
    transition: 0.4s;
}

.header__menu ul li::after {
    transition: 0.4s;
    content: "";
    position: absolute;
    bottom: 18px;
    width: 0%;
    height: 1px;
    border-radius: 50px;
    background: #F5F5F7;
    box-shadow: 0px 0px 0px 0px var(--color-green);
}

.header__menu ul li:hover::after {
    transition: 0.4s;
    bottom: 28px;
    background: var(--color-green);
    box-shadow: 0px 0px 30px 2px var(--color-green);
    width: 100%;
}

.header__menu ul li:hover {
    transition: 0.4s;
    color: var(--color-green);
}

.header__menu ul li:last-child {
    animation: itemMenu 0.4s 7.6s forwards;
}

@keyframes itemMenu {
    0% {
        top: -20px;
        transform: scale(0);
    }

    100% {
        top: 0px;
        transform: scale(1);
    }
}

.header__burger {
    height: 100%;
    width: 92px;
    z-index: 89;
    position: relative;
    display: none;
    position: relative;

}

@keyframes burger {
    0% {
        opacity: 0;
        right: -20px;
    }

    100% {
        opacity: 1;
        right: 0;
    }
}


.header__burger button {
    margin: auto;
    width: 52px;
    height: 52px;
    background: transparent;
    transition: 0.8s;
    cursor: default;
    position: relative;
    right: -20px;
    opacity: 0;
    animation: burger 0.6s 7.2s forwards;
}

.header__menu-new {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 90;
    height: 10%;
    transform: translateX(-32px) scale(0.25) translateY(28px);
}

.header__menu-new ul {
    color: #F5F5F7;
    height: 100%;
    font-family: "Poppins";
    font-size: 21px;
}

.burger__list-item {
    cursor: default;
    transform: scale(0);
    position: relative;
    top: -40px;
    font-weight: 200;
    transition: 0.8s 0.7s;
    transition-property: top transform;
}

.burger__list-item-active {
    top: 0;
    position: relative;
    transition: 0.8s;
    transform: scale(1);
}

.burger__button-active {
    transform: scale(6) translateX(0px) translateY(8px);
}


.burger__list-item:hover {
    color: var(--color-green);
    transition: 0.4s;
    text-shadow: 0px 0px 12px #000000;
}

.header__burger button svg {
    width: 100%;
    height: 100%;
    position: absolute;
    fill: var(--color-green);
    top: 0;
    left: -4px;
    z-index: 89;
    stroke: var(--color-green);
}

.main__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__welcome {
    margin-top: 80px;
    display: flex;
    font-size: 32px;
    font-weight: 400;
    font-family: "Dosis";
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

@keyframes hiOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleText {
    0% {
        opacity: 0;
        transform: scale(0);
        text-shadow: 0px 0px 0px var(--color-orange);
    }

    50% {
        opacity: 1;
        transform: scale(1);
        text-shadow: 0px 0px 0px var(--color-orange);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        text-shadow: 0px 4px 50px var(--color-orange);
    }
}

.welocome__name {
    font-family: "Peralta";
    position: relative;
    font-weight: 600;
    color: var(--color-orange);
    letter-spacing: 5px;
    text-shadow: 0px 0px 0px var(--color-orange);

}

.welocome__name h2 {
    animation: scaleText 2s 7s forwards;
    opacity: 0;
    font-size: 62px;
}

@keyframes svgAn {
    0% {
        stroke-dashoffset: 500;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.welocome__name svg {
    position: absolute;
    width: 100%;
    top: 40%;
    stroke-dasharray: 500;
    animation: svgAn 4s 7s forwards;
    stroke-dashoffset: 500;
}

.welocome__name .svg1 {
    position: absolute;
    left: -80%;
}

.welocome__name .svg2 {
    position: absolute;
    left: 80%;
}

@keyframes sos {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.main__3d {
    height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    animation: sos 1s 8s forwards;
}

.welocome__about {
    animation: none;
    margin: 0;
    transition: none;
    margin-bottom: 30px;
    opacity: 0;
    text-shadow: 0px 0px 0px 0px var(--color-orange);
}

.welocome__handyman {
    animation: none;
    margin: 0;
    transition: none;
    margin-bottom: 200px;
    opacity: 0;
    text-shadow: 0px 0px 0px 0px var(--color-orange);
}

.about__info {
    width: 100%;
    display: flex;
    padding: 0px 4%;
    justify-content: space-between;
    align-items: center;
}

.about__text-block {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    transition: none;
    line-height: 44px;
    font-family: "Peralta";
    font-size: 36px;
    animation: none;
    text-align: center;
    position: relative;
    top: 20px;
    order: 2;
}

.about__text-block span {
    color: var(--color-green);
    opacity: 0;
    position: relative;
    top: -10px;
}

.about__text-block i {
    color: var(--color-blue);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    opacity: 0;
    font-size: 40px;
    position: relative;
    top: -10px;
}

.about__text-block em {
    color: var(--color-blue);
    font-family: "Peralta";
    border-radius: 20px;
    padding: 0px 10px;
    display: inline-block;
    font-style: normal;
    font-size: 42px;
    opacity: 0;
    position: relative;
    top: -10px;
}

.about__text-block b {
    font-weight: 400;
    position: relative;
    top: -10px;
    opacity: 0;
}

.about__img-block {
    height: 100px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;
    animation: none;
    position: relative;
    transform-style: preserve-3d;
    perspective: 200px;
    order: 1;
}

.about__img-block span {
    width: 150px;
    border-radius: 20px;
    height: 150px;
    position: absolute;
    top: -10px;
    background: var(--color-green);
    margin: auto;
    transform-origin: bottom right;
    transform: scale(0) rotateY(-10deg);
}

.about__img-block span:last-child {
    background: var(--color-blue);
    right: 50%;
    transform: scale(0) rotateY(-10deg);

}

.about__img-block span:first-child {
    background: var(--color-orange);
    left: 50%;
    transform: scale(0) rotateY(-10deg);
}

/*  buttons */
@media (any-hover: hover) {
    .header__menu ul li {
        cursor: pointer;
    }
    .header__burger button {
        cursor: pointer;
    }

    .button-control {
        cursor: pointer;
    }
}

@media (max-Width: 700px) {
    .header__menu {
        flex: 0 50%;
    }

    .header__menu ul {
        font-size: 18px;
    }

    .about__info {
        display: flex;
        flex-direction: column;
    }

    .about__img-block {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .about__text-block {
        line-height: 36px;
        font-size: 30px;
        margin-bottom: -10px;
    }

    .about__text-block i {
        font-size: 34px;
    }

    .about__text-block em {
        font-size: 36px;
    }
}

@media (max-Width: 430px) {

    .header__burger {
        display: flex;
    }

    .about__img-block span {
        width: 120px;
        height: 120px;

    }

    .about__img-block {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .header__menu {
        display: none;
    }

    .welocome__handyman {
        font-size: 46px;
    }
}




